@model PostExpenseViewModel

<div class="createExpenseWrapper">
    <h1 class="text-center">Create expense</h1>
    <form action="/Expense/PostExpense" method="post">
        @Html.AntiForgeryToken()
        <ul>
            <li class="form-row">
                @Html.LabelFor(t => t.Name)
                @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
            </li>
            <li class="form-row">
                @Html.LabelFor(n => n.ExpenseDescription)
                @Html.TextAreaFor(a => a.ExpenseDescription, new { @class = "etTextArea form-control" })
            </li>
            <li class="form-row">
                @Html.LabelFor(l => l.Ammount)
                @Html.TextBoxFor(b => b.Ammount, new { @class = "form-control" })
            </li>
            <li class="form-row">
                @Html.LabelFor(d => d.DateOfPayment)
                @Html.TextBoxFor(d => d.DateOfPayment, new { @class = "form-control" })
            </li>
            <li class="form-row">
                @Html.LabelFor(t => t.Tags)
                @Html.TextBoxFor(t => t.Tags, new { @class = "form-control" })
            </li>
            <li class="form-row">
                <input type="submit" name="name" value="Submit" class="btn btn-default" />
            </li>
        </ul>
    </form>
</div>
