@model PostExpenseViewModel

<div class="createExpenseWrapper">
    <h1 class="text-center">Create expense</h1>
    <form action="/Expense/PostExpense" method="post">
        @Html.AntiForgeryToken()
        <ul>
            <li class="form-row">
                @Html.LabelFor(t => t.Name)
                @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
            </li>
            <li class="form-row">
                @Html.LabelFor(n => n.ExpenseDescription)
                @Html.TextAreaFor(a => a.ExpenseDescription, new { @class = "etTextArea form-control" })
            </li>
            <li class="form-row">
                @Html.LabelFor(l => l.Ammount)
                @Html.TextBoxFor(b => b.Ammount, new { @class = "form-control" })
            </li>
            <li class="form-row">
                @Html.LabelFor(d => d.DateOfPayment)
                @Html.TextBoxFor(d => d.DateOfPayment, new { @class = "form-control", id = "dateOfPayment", name="DateOfPayment" })
            </li>
            <li class="form-row">
                @Html.LabelFor(t => t.Tags)
                @Html.TextBoxFor(t => t.Tags, new { @class = "form-control" })
            </li>
            <li class="form-row">
                <input type="submit" name="name" value="Submit" class="btn btn-default" />
            </li>
        </ul>
    </form>
</div>

@section Scripts
    {
    <link href="https://kendo.cdn.telerik.com/2014.2.716/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2014.2.716/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="https://kendo.cdn.telerik.com/2014.2.716/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2014.2.716/js/kendo.ui.core.min.js"></script>

    <script src="~/js/post-expense.js"></script>
}