@model PostExpenseViewModel

<div class="createExpenseWrapper">
    <form action="/Expense/PostExpense" method="post">
        @Html.AntiForgeryToken()
        <ul class="form-group">
            <li>
                @Html.LabelFor(t => t.Name)
                @Html.TextBoxFor(t => t.Name)
            </li>
            <li>
                @Html.LabelFor(n => n.ExpenseDescription)
                @Html.TextAreaFor(a => a.ExpenseDescription)
            </li>
            <li>
                @Html.LabelFor(l => l.Ammount)
                @Html.TextBoxFor(b => b.Ammount)
            </li>
            <li>
                @Html.LabelFor(d => d.DateOfPayment)
                @Html.TextBoxFor(d => d.DateOfPayment)
            </li>
            <li>
                @Html.LabelFor(t => t.Tags)
                @Html.TextBoxFor(t => t.Tags)
            </li>
            <li>
                <input type="submit" name="name" value="Submit" />
            </li>
        </ul>
    </form>
</div>
