@model ExpenseListViewModel

<div id="expenseGrid">
    <table>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>Ammount</td>
            <td>Date of payment</td>
            <td>Tags</td>
        </tr>
        @foreach (var expense in Model.Expenses)
        {
            <tr>
                <td>@expense.Title</td>
                <td>@expense.Description</td>
                <td>@expense.Ammount</td>
                <td>@expense.DateOfPayment.Date </td>
                <td>
                    @foreach (var tag in expense.Tags)
                    {
                        @tag.Name
                    }
                </td>
            </tr>
        }
    </table>

    <partial name="~/Views/Shared/_Pager.cshtml"
             model='@new PagerViewModel() { TotalCount = Model.TotalCount, UpdateTarget="expenseGrid", ActionName="ExpenseList", ControllerName="Expense"}' />
</div>